/LSI/2024/ProgramacionConcurrente/ProductorConsumidor/nbproject/private/
/LSI/2024/ProgramacionConcurrente/ProductorConsumidor/build/
/LSI/2024/ProgramacionConcurrente/tp6/nbproject/private/
/LSI/2024/ProgramacionConcurrente/tp6/build/
/LSI/2024/ProgramacionConcurrente/tp7/nbproject/private/
/LSI/2024/ProgramacionConcurrente/tp7/build/
/LSI/2024/ProgramacionConcurrente/tp8/nbproject/private/
/LSI/2024/ProgramacionConcurrente/tp8/build/
/LSI/2024/ProgramacionConcurrente/parcial2023/nbproject/private/
/LSI/2024/ProgramacionConcurrente/recuperatorio2023/nbproject/private/
/LSI/2024/ProgramacionConcurrente/recuperatorio2023/dist/
/LSI/2024/ProgramacionConcurrente/recuperatorio2023/build/
/LSI/2024/ProgramacionConcurrente/parcial2023/build/
/LSI/2024/ProgramacionConcurrente/parcial2024/nbproject/private/
/LSI/2024/ProgramacionConcurrente/parcial2024/build/